* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --0-to-10: rgb(250, 9, 9);
  --10-to-20: rgb(243, 45, 45);
  --20-to-30: rgb(245, 51, 17);
  --30-to-40: rgb(246, 60, 27);
  --40-to-50: rgb(245, 122, 22);
  --50-to-60: rgb(245, 122, 22);
  --60-to-70: rgb(245, 178, 22);
  --70-to-80: rgb(223, 245, 22);
  --80-to-90: rgb(108, 219, 17);
  --90-to-100: rgb(34, 243, 7);

  --gray: #345258;
  --blue: #a9ddd6;
}

html {
  background: #28464b;
}

body,
input,
textarea,
select,
button {
  font: 400 1rem 'Roboto', sans-serif;
}

button {
  cursor: pointer;
}

a {
  color: inherit;
  text-decoration: none;
}
